<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">Thank you! Now take a look at an answer from another Turker.</div>
  <p>Other Turkers have already provided answers for this task. Here is one of them.</p>
  <%= render("correct_and_explain", f: f) %>
<% end %>
