<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">Thank you! Now compare your answer with the most popular community choices.</div>
  <p>The most popular answers from other Turkers are shown below in <strong class="grn">GREEN</strong>. Please review them carefully.

  <p>The number of people who gave each answer is also shown.</p>

  <p>Remember, the best answer should list ALL food groups for each of the ingredients. If you still think your answer is correct, feel free to submit it as is. If you decide to change your answer, please explain <strong>what you think was incorrect</strong> in your original solution.</p>

  <%= render("per_nutrient_feedback", f: f) %>
<% end %>
