<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">
    Thank you! Below you can see your own answer and distributions of answers from other Turkers.
  </div>

  <%= render('editable_my_answer', f: f) %>
  <%= render('community_answer_tallies') %>

  <br/>
  <%= f.submit "Next", :class => "btn btn-primary" %>
  <br/><br/>
<% end %>
