
<div class="match_answer_group">
  <% errors = false %>
  <% @match_answer_group.answers.each do |answer| %>
    <% errors = answer.errors.empty? ? false : true %>
  <% end %>
  <% if errors %>
   <div class="alert alert-danger" role="alert">Oops! Please correct the errors below. </div>
  <% else %>
    <div class="alert alert-success" role="alert">Thank you! Below you can review your last five answers you submitted. </div>
  <% end %>
  <%= render :partial => "condition_#{@user.condition}" %>
</div>
