<h3>Thank you!</h3>
<%= turkee_form_for(@user, params, {:assignment_id => @user.assignmentId}) do |f| %>
  <h4>Click Finish to complete the HIT</h4>
  <input id="assignmentId" name="assignmentId" type="hidden" value="<%= @user.assignmentId %>" />

  <%= f.submit "Finish", :class => "btn btn-primary" %>
<% end %>
