<div class="tag">
  <div class="instructions">
  <h3>Consent to Participate in Research Study</h3>
    <p>Consent form!</p>
  </div>
  <a href="<%= tags_url %>" class="btn btn-primary">Accept</a>
</div>