development:
  adapter: postgresql
  database: mealyzer_development
  pool: 5
  timeout: 5000
  username: 
  password:


test:
  adapter: postgresql
  database: mealyzer_test
  pool: 5
  timeout: 5000
  username: 
  password:

production:
  adapter: postgresql
  database: mealyzer_production
  pool: 5
  timeout: 5000
  username: 
  password:
