table.stats {
  border-collapse: collapse;

  tr.top th {
    text-align: center;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 4px;
  }

  th {
    vertical-align: bottom;
  }

  td {
    text-align: left;
  }

  &.user-stats td {
    width: 50px;
  }

  th.ranked {
    width: 75px;
  }
}