.matches {
  .col-md-6 {
    margin: 10px;
  }

  h3 {
    margin-top: 0px;
  }

  img {
    width: 400px;
    display: inline-block;
    vertical-align: top;
  }

  form, table {
    display: inline-block;
    border-spacing: 10px;
    border-collapse: separate;

    tr.groups {
      border-bottom: 1px solid gray;
    }
  }

  table {
    table-layout: fixed;
    width: 500px;

    tr.groups td {
      width: 50px;
      text-align: center;
    }

    td.cb {
      text-align: center;
    }
  }
}