.matches {
  .col-md-6 {
    margin: 10px;
  }

  h3 {
    margin-top: 0px;
  }

  img {
    width: 400px;
    display: inline-block;
    vertical-align: top;
  }

  .btn-primary {
    margin-top: 25px;
  }

  form, table {
    display: inline-block;
    border-collapse: separate;

    textarea {
      width: 80%;
    }

    tr.groups {
      border-bottom: 1px solid gray;
    }
  }

  div.my_answer {
    background-color: #FFF8DA;
  }

  div.my_answer, div.other_answers {
    padding: 5px;
  }

  table {
    table-layout: fixed;
    width: 500px;
    font-size: 12px;

    td {
      padding: 5px;
      text-align: center;
    }

    tr.groups td {
      width: 50px;
      text-align: center;
      font-weight: bold;
      margin-top: 10px;
    }

    tr.your_answer {
      background-color: #FFF8DA;
    }

    td.cb {
      text-align: center;
    }

    td.community {
      text-align: left;
      font-weight: bold;
    }
  }

  table.even, table.odd {
    width: 100%;
    border: 1px #EEE solid;
  }

  table.even {
    background-color: white;
  }

  table.odd {
    background-color: #EEE;
  }
}
