.meals {
  table {
    border-collapse: collapse;

    th, td {
      padding: 4px;
      border: 1px solid #ccc;
    }

    tr.disabled td {
      color: #aaa;

      a {
        color: #aaa;
      }

      img {
        opacity: 0.3;
      }
    }
  }
}

.meal-photo {
  width: 400px;

  img {
    width: 400px;
  }

  .credit {
    font-size: 8pt;
    color: #ccc;
    margin-top: 3px;

    a {
      color: #ccc;
      text-decoration: underline;
    }
  }
}