.meals {
  table {
    border-collapse: collapse;

    th, td {
      padding: 4px;
      border: 1px solid #ccc;
    }

    tr.disabled td {
      color: #aaa;

      a {
        color: #aaa;
      }

      img {
        opacity: 0.3;
      }
    }
  }
}