.edit {
  .slider-horizontal {
    width: 200px;
  }

  form {
    width: 100%;
  }

  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .slider-container {
    margin-bottom: 30px;
  }

  .rangeslider,
  input[type='range'] {
    max-width: 80%;
    margin-bottom: 20px;
  }

  div.output {
    display: inline-block;
  }

}
